.secao-clientes{
  padding:0px 70px 20px;
}

.container-clientes{
  max-width:1400px;
  margin:0 auto;
  border-radius:32px;
  background:#EDF1F8;
  display:flex;
  flex-direction:column;
  gap:0px;
  padding:0px 0 40px;
}

.titulo-clientes{
  margin-bottom:60px;
  font-weight:700;
  font-size:46px;
  color:#111111;
  text-align:center;
}

.faixa-clientes{
  overflow:hidden;
  width:100%;
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
  padding:0 32px;
  scrollbar-width:none;
}

.faixa-clientes::-webkit-scrollbar{
  display:none;
}

.lista-clientes{
  display:flex;
  align-items:center;
  gap:30px;
  padding:0;
  margin:0;
  flex-shrink:0;
}

.faixa-clientes .lista-clientes + .lista-clientes{
  margin-left:24px;
}

.item-cliente{
  width:240px;
  height:240px;
  flex-shrink:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}

.item-cliente2{
  width:240px;
  height:150px;
  flex-shrink:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}

@media(max-width:900px){
  .secao-clientes{
    padding:15px 24px 34px;
  }

  .container-clientes{
    border-radius:24px;
    padding:24px 0 32px;
    gap:50px;
  }

  .titulo-clientes{
    font-size:26px;
    margin-bottom:20px;
  }

  .faixa-clientes{
    padding:0 24px;
  }

  .lista-clientes{
    gap:24px;
  }

  .faixa-clientes .lista-clientes + .lista-clientes{
    margin-left:24px;
  }

  .item-cliente{
    width:260px;
    height:120px;
  }
}
